
*{
	margin: 0;
	font-family : serif;
}

body{
	background-color: #e0fcff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	min-height: 80vh;
}

.display{
	padding: 25px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input{
	width: 250px;
	height: 50px;
	outline: none;
	padding: 5px;
	font-size: 1em;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

p{
	font-size: 1.6em;
}